* {
    background-color: #c7c7c7;
}

section {
    margin-left: 20px;
}

section body{
    margin:0px;
    padding:0px;
    background-color: #CCCCCC;
}

section article header h1{
    font-size: 28px;
}

section article header p{
    font-style: italic;
}

section p{
    font-size: 24px;
}