body {
    background-color: #F9D977;
    font-family: 'Calibri';
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 21px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a.logo {
    padding: 10px;
    margin-top: 1px;
}

.topnav a.right {
    float: right;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #FEAE00;
    color: white;
}

h1 span.heading-yellow {
    color: #FEAE00;
}

main h1 {
    font-size: 48px;
}